<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Réinitialisation de votre mot de passe</title>
</head>
<body>
<p>Bonjour {{ user_prenom }},</p>
<p>Vous avez demandé la réinitialisation de votre mot de passe.</p>
<p>Vous pouvez vous connecter en utilisant cette adresse mail et le mot de passe suivant :</p>
<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
    <tbody>
    <tr>
        <td align="left">
            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                    <td> {{ new_password }} </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<p>Veuillez noter que ce mot de passe est temporaire, nous vous recommandons de le personnaliser lors de votre prochaine
    connexion.</p>
<p>À bientôt sur Sebania.</p>
</body>
</html>